<div id="nav-pad"></div>
<div id="nav" ng-class="{public: !currentUser}" ng-controller="NavCtrl">

  <div class="item public-only hylo-icon">
    <a href="/" target="_self">Communal</a>
  </div>

  <div class="item home">
    <a class="button" ui-sref="home.simple" tooltip="Home" tooltip-placement="bottom"  touch-class="active">
      <i class="icon-home"></i>
    </a>
  </div>

  <div class="right">

    <div dropdown class="item profile">
      <a class="button avatar" dropdown-toggle back-img="currentUser.avatar_url" tooltip="Your Account" tooltip-placement="bottom" touch-class="active">
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a ui-sref="profile.about({id: currentUser.id})">Profile</a></li>
        <li><a ui-sref="userSettings">Settings</a></li>
        <li><a href="/noo/logout" target="_self" class="logout">Log out</a></li>
      </ul>
    </div>

    <div class="item public-only text-link">
      <a ui-sref="login">Log in</a>
    </div>
    
  </div>

</div>
