<!-- the login-signup-dialog class below is used with the popupDone service -->
<div class="all-sections login-signup-dialog">
  <h1>
    Sign up for Communal
    {{invitation && invitation.community ? 'to join ' + invitation.community.name : ''}}
  </h1>

  <form name="form" novalidate>

    <div class="error" ng-show="signupError">{{signupError}}</div>

    <p>Connect one of these services with Communal.</p>

    <div class="service-buttons">
      <a ng-click="useThirdPartyAuth('ctauth', form)" class="CTAuth">CTAuth</a>
    </div>

    <p ng-hide="invitation">We are currently in private beta with a number of pilot communities.</p>
    <p ng-hide="invitation">If you are a member of one of these communities, you should have an <strong>invitation code</strong> from your community manager. You will be asked to enter it after signing up. If you don't have an invitation code, you can request to create your own community.</p>
    <p>By signing up you are agreeing to our <a href="/terms" target="_blank">Terms of Use.</p>



    <div class="right">
      <a class="button" ng-click="submit(form)">Sign up</a>
    </div>
  </form>

  <div class="footer">
    <a ng-click="go('login')">Already signed up? Log in!</a>
    <!-- &nbsp;•&nbsp;
    <a onclick="Intercom('showNewMessage', 'I need help logging in! The problem is:')">Need help?</a> -->
  </div>

</div>
