<div class="banner">
  <div class="background">
    <!--<div back-img="::community.banner_url"></div>-->
    <div style="background-image: url('https://d3ngex8q79bk55.cloudfront.net/misc/default_community_banner.jpg');"></div>
  </div>
  <div class="buttons">
    <a class="invite" ui-sref="community.settings({community: community.slug, tools: 1})" ng-if="canModerate">
      <i class="icon-add-01"></i>
      Manage Tools
    </a>
    <a class="invite" ui-sref="community.invite({community: community.slug})" ng-if="canInvite">
      <i class="icon-add-01"></i>
      Invite Members
    </a>
    <a class="settings" ui-sref="community.settings({community: community.slug})" ng-if="canModerate">
      <i class="icon-settings"></i>
      Settings
    </a>
  </div>
  <div class="titles">
    <!--<div class="logo" back-img="::community.avatar_url"></div>-->

    <div class="logo" style="background-image: url('http://static.tumblr.com/5c90a92aa8597626a00a0845eea82ca3/e5nd402/pEdn4g1vc/tumblr_static_kvycde7padscokkwgs8k88oc.png');"></div>
    <div class="name">{{::community.name}}</div>
    <div class="network" ng-if="::community.network">
      Part of
      <a ui-sref="network.communities({slug: community.network.slug})">{{::community.network.name}}</a>
    </div>
  </div>

    <div class="tabs">
      <a ui-sref="community.tools" ng-class="{selected: $state.current.name === 'community.tools'}">
        TOOLS
        <div class="triangle"></div>
      </a><!--
      --><a ui-sref="community.members" ng-class="{selected: $state.current.name === 'community.members'}">
        MEMBERS
        <div class="triangle"></div>
      </a><!--
      --><a ui-sref="community.about" ng-class="{selected: $state.current.name === 'community.about'}">
        ABOUT
        <div class="triangle"></div>
      </a>
    </div>

  </div>
</div>
<div class="tab-content row" ui-view="tab"></div>
