<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-center">CREATE A COMMUNITY</div>
  <a class="navbar-right close" ng-click="close()">&times;</a>
</nav>

<div class="main-content">
  <div class="all-sections">

    <form name="form" novalidate>

      <div class="section-label">Information</div>
      <div class="section">
        <div class="setting-item">
          <div class="side-column">
            <label>Community name</label>
          </div>
          <div class="main-column">
            <input type="text" hylo-unique="name" name="name" ng-model="community.name" class="form-control" required />
            <p class="help error" ng-if="form.submitted && form.name.$error.required">Please fill in this field.</p>
            <p class="help error" ng-if="form.name.$error.unique">This name is already in use.</p>
          </div>
        </div>

        <div class="setting-item">
          <div class="side-column">
            <label>URL</label>
          </div>
          <div class="main-column">
            <div class="input-group">
              <span class="input-group-addon">www.communal.cc/c/</span>
              <input name="slug" ng-model="community.slug" force-lowercase class="form-control" hylo-unique="slug" ng-pattern="/^[a-z0-9-+]+$/" required />
            </div>
            <p class="help error" ng-if="form.submitted && form.slug.$error.required">Please fill in this field.</p>
            <p class="help error" ng-if="form.submitted && form.slug.$error.pattern">Use letters, numbers, and hyphens only.</span>
            <p class="help error" ng-if="form.slug.$error.unique">This URL is already in use.</p>
          </div>
        </div>

      </div>

      <div class="section-label">Appearance</div>
      <div class="section">
        <div class="setting-item">
          <div class="side-column">
            <label>Icon</label>
          </div>
          <div class="main-column">
            <div class="community-icon" back-img="community.avatar_url"></div>
            <button ng-click="changeIcon()">
              <span ng-hide="uploading.avatar_url">Change</span>
              <span ng-show="uploading.avatar_url">Please wait...</span>
            </button>
            <p class="help">This image appears next to your community's name. (Tip: Try a transparent PNG image.)</p>
          </div>
        </div>

      </div>

      <p>All of the settings above can be changed later, except for the URL.</p>

      <div class="section footer">
        <button type="button" ng-click="submit(form)" ng-disabled="saving">
          <span ng-show="saving">Please wait...</span>
          <span ng-hide="saving">Save</span>
        </button>
        <p class="help error" ng-if="form.submitted && form.$invalid">The information you provided has some errors; please see above.</p>
      </div>

    </form>

  </div>
</div>
