<footer class="text-center">
  <ul class="footer-links">
    <li>Footer stuff.</li>
  </ul>
</footer>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
<%- include('../../../bower_components/stellar/jquery.stellar.min.js') %>
</script>

<script>
$(document).ready(function(){
	if (document.documentElement.clientWidth >= 480)
	  $(window).stellar({horizontalOffset: 0});
});

/* Create HTML5 element for IE */
document.createElement("section");
</script>

</body>
</html>
